
body{
    background: #f2f2f0 !important;
}
.totalBox{
    display: block !important;
}
.tit .fa-angle-down{
    display: none !important;
}

/* bannar */
.bannar{
    width:100%;
    height: 480px;
}


/* mainBox */
.mainBox{
    width: 100%;
    background: #f9f9f9;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #dfdfdf; */
}
/* brand */
.brand{
    width: 1100px;
    margin:0 auto;
}
.brandBox{
    width:865px;
    height: 105px;
    background:white;
    /* border:1px solid black; */
    margin-left:240px;
    margin-top: 10px;
}
.brandBox p{
    height: 105px;
    line-height: 105px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    float: left;
    padding-left: 27px;
    padding-right: 27px;
}
.brandBox img{
    float: left;
    height: 72px;
    padding-left:16px;
    padding-right:16px;
    vertical-align: middle;
    margin-top: 16px;
}

/* content */
.subtit{
    width:1100px;
    height: 80px;
    margin:0 auto;
}
.subtit h2{
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    color:#222222;
}
.subtit span{
    font-size: 18px;
    color:#999999;
    margin-left: 18px;
}


/* recommend */
.recommend{
    width: 1101px;
    margin:0 auto;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.recList{
    width: 219px;
    height: 344px;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    float: left;
    background: white;
}
.recList:nth-child(5n){
    border-right:1px solid #e5e5e5;
}
.recList img{
    float: left;
    width: 219px;
    height: 219px;
}
.recText{
    clear: both;
    padding: 15px;
}
.recText h3{
    font-size: 12px;
    color:#222222;
    height: 18px;
    line-height: 18px;
}
.recText h4{
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    color: #555555;
}
.recBot{
    margin-top:5px;
    position: relative;
}
.recPrice em{
    font-size: 12px;
    border:1px solid #c2c2c2;
    color: #c2c2c2;
    height: 12px;
    font-style: normal;
}
.recPrice .ziYing{
    color:#d9849a;
}
.recPrice p{
    font-size: 12px;
    color: #ff4a49;
}
.recPrice p span{
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}
.recPrice h5{
    font-size: 12px;
    color: #555555;
}
.recPrice h5 span{
    text-decoration: line-through;
}
.recBot .btn02{
    position: absolute;
    width: 66px;
    height: 28px;
    background:#ff4a49;
    color: white;
    text-align: center;
    border-radius: 14px;
    bottom: 30px;
    right: 0;
    outline: none;
    border: none;
}
.recBot h6{
    position: absolute;
    bottom: 13px;
    right: 0;
    font-size: 12px;
    color: #666666;
    height: 12px;
    line-height: 12px;
    font-weight: 100;
}

/* famousList */
.famousList{
    clear: both;
    width: 1100px;
    height: 420px;
    margin:0 auto;
    background: white;
    border:1px solid #e5e5e5;
    box-sizing: border-box;
    padding:19px;
    margin-bottom: 20px;
}
.famousList:last-child{
    margin-bottom: 0;
}
.famousTit{
    height: 80px;
    padding-top: 6px;
    overflow: hidden;
}
.famousTit img{
    width: 80px;
    height: 80px;
    float: left;
}
.famousTit h3{
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: #666666;
    float: left;
    margin-left: 16px;
}
.faBox{
    margin-top: 19px;
}
.faList{
    width: 195px;
    height: 275px;
    float: left;
    margin-right: 21px;
}
.faList:nth-child(5){
    margin-right: 0;
}
.faList img{
    width: 195px;
    height: 195px;
    float: left;
}
.faTxt{
    height: 80px;
}
.faTxt p{
    font-size: 13px;
    color: #222222;
    line-height: 23px;
}
.faTxt h4{
    font-size: 12px;
    color:#fa4b9b;
    float: left;
    margin-top: 5px;
}
.faTxt h4 span:nth-child(1){
    font-size: 16px;
}
.faTxt h4 span:nth-child(2){
    color:#999999;
    text-decoration: line-through;
    font-weight: 100;
}
