
.mainBox{
    width: 960px;
    height: 500px;
    margin:95px auto 0px;
}

.logoBox{
    width: 610px;
    height: 500px;
    float: left;
    position: relative;
}
.logoImg{
    position: absolute;
    z-index: 1;
}
.bgImg{
    position: absolute;
    left: 0;
    top:20px;
    z-index: -1;
}
.regBox{
    width: 304px;
    float: right;
    border:1px solid #f7f7f7;
    box-shadow: 0px 0px 2px 2px #fbfbfb;
    padding:0px 20px;
}
.regBox h2{
    font-size: 20px;
    color: #f450a2;
    height: 63px;
    line-height: 63px;
    margin-bottom: 10px;
}
.reg{
    height: 40px;
    margin-bottom: 17px;
}
label{
    display:inline-block;
    width: 70px;
    color: #757575;
    font-size: 14px;
}
.reg input{
    width:217px;
    height: 27px;
    outline:none;
    border:1px solid #cfcfcf;
    box-shadow: 0px 0px -5px -5px #f2f2f2;
    padding:5px;
}
#btn04{
    width: 283px;
    height: 40px;
    background: #f450a2;
    border-radius: 3px;
    color: white;
    border:none;
    margin-bottom: 10px;
}
.otherMethod span{
    font-size: 12px;
    color: #066666;
}
.otherMethod img{
    vertical-align: middle;
    border-radius: 50%;
}
.otherMethod{
    margin: 10px 0px;
}
.logoEnd{
    text-align: center;
    height: 83px;
}
.logoEnd p{
    font-size: 12px;
    color: #cccccc;
    height: 73px;
    line-height: 83px;
}