

.proTit{
    width: 1072px;
    /* height: 204px; */
    margin:0 auto;
    background: white;
    margin-top: 20px;
    padding:0px 14px;
}
.proRow{
    height: 40px;
    border-bottom: 1px dashed #ececec;
}
.proRow li{
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float: left;
    
}
.proRow li a{
   color: #222222; 
}
.proRow li:first-child{
    width: 70px;
    padding-right: 25px;
    color: #999999;
    text-align: right;
}
.rowSec li{
    width:73px;
}
.rowThird li{
    width: 83px;
}

.proNav{
    width: 1100px;
    height: 44px;
    margin:10px auto;
    background: white;
}
.proNav li{
    width: 78px;
    float: left;
    height: 44px;
    line-height: 44px;
}
.proNav li:nth-child(5){
    width: 148px;
}
.proNav li:last-child{
    width:623px;
}
.priDis input{
    width: 50px;
    height: 21px;
    border:1px solid #b1b1b1;
}