.navCont .navList .index{
    background: #ff3893;
}
.navCont .navList .index:hover{
    background: #ec0971;
}


.proTit{
    width: 1072px;
    /* height: 204px; */
    margin:0 auto;
    background: white;
    margin-top: 20px;
    padding:0px 14px;
}
.proRow{
    height: 40px;
    border-bottom: 1px dashed #ececec;
}
.rowThird{
    border-bottom: none;
}
.proRow li{
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    float: left;
}
.proRow li a{
   color: #222222; 
}
.proRow li:first-child{
    width: 70px;
    padding-right: 25px;
    color: #999999;
    text-align: right;
}
.rowSec li{
    width:73px;
}
.rowThird li{
    width: 83px;
}

.proNav{
    width: 1100px;
    height: 44px;
    margin:10px auto;
    background: white;
    border:1px solid #e6e6e6;
}
.proNav li{
    width: 78px;
    float: left;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color:#666666;
    border-right:1px solid #e6e6e6;
}
.proNav li:first-child a{
    color: #ff3893;
}
.proNav li a{
    color:#666666;
}
.proNav li:nth-child(5){
    width: 148px;
}
.priDis input{
    width: 50px;
    height: 21px;
    border:1px solid #b1b1b1;
    padding:2px;
    outline: none;
}

/* proBox */
.proBox{
    background: #f2f2f0;
    overflow: hidden;
    /* min-height: 762px; */
}
.proNav li:last-child{
    width:635px;
    border-right: none;
}
.liLast p:nth-child(1){
    float: left;
    margin-left: 25px;
}
.liLast p:nth-child(1) input{
    margin-right: 9px;

}
.liLast p:nth-child(2){
    float: right;
    margin-right: 19px;
}
.liLast p:nth-child(2) span{
    color: #f450a2;
}

.proBox ul{
    width: 1100px;
    margin:0 auto;
    /* overflow: hidden; */
    padding-bottom: 10px;
}
.proBox ul li{
    width: 267px;
    height: 365px;
    float: left;
    margin-right: 10px;
    margin-bottom: 14px;
    position: relative;
    /* z-index: 0; */
}
.proBox ul li:nth-child(4n){
    margin-right: 0;
}
.reBox{
    background: white;
    width: 265px;
    border:1px solid white;
    position: absolute;
    z-index: 2;
}
.reBox img{
    width: 265px;
}
.proText{
    padding:10px;
}
.proPrice p{
    font-size: 11px;
    color: #f450a2;
    height: 24px;
}
.proPrice b{
    font-size: 15px;
}
.proPrice em{
    font-style: normal;
    border:1px solid #c2c2c2;
    color: #c2c2c2;
    border-radius: 2px;
    height: 14px;
    line-height: 14px;
    margin-left: 7px;
}
.proPrice span{
    float: right;
    text-decoration: line-through;
    color: #888888;
}
.proText h3{
    width:235px;
    font-weight: 100;
    font-size: 12px;
    /* height: 24px; */
    /* white-space: nowrap; */
    line-height: 24px;
    overflow: hidden;
}
.proText h3 a{
    color: #666666;
}
.proText h3 a:hover{
    color: #fa4b9b;
}
.proText h5{
    font-size: 11px;
    color: #fa4b9b;
    height: 28px;
    line-height: 28px;
    font-weight: 100;
}
.proText h5 span{
    background: #fa4b9b;
    color: white;
    height: 12px;
    padding:2px;
    margin-right: 7px;
    font-weight: 600;
}