@charset "utf-8";
body,p,ul,em,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,img{
   margin:0;
   padding: 0;
}
body{
	width: 100%;
	font-family: "微软雅黑"，Arial;
}
a{
	text-decoration:none;
}
ul,li{
	list-style:none;
}

body{
    background: #f2f2f0;
}
.header{
    width: 100%;
    height: 209px;
    margin:0 auto;
    background: white;
}
.headTop{
    width: 100%;
    height: 29px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
}
.headCont{
    width: 1100px;
    margin: 0 auto;
}
.headCont a{
    color: #666666;
    font-size: 12px;
}
.headLeft{
    float: left;
}
.headLeft img{
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
.headLeft .phoneA{
    display: inline-block;
    margin-right: 34px;
}
.headLeft .phoneA:hover{
    color: #fa4b9b;
}
.headRight{
    float: right;
    font-size: 12px;
    color: #d7d7d7;
    line-height: 29px;
}
.headRight a{
    margin-right: 13px;
}
.headRight .reg{
    margin-left: 13px;
}
.help{
    margin-left: 7px;
}
.headRight span{
    color: #666666;
    font-size: 12px;
    margin-right: 25px;
}
.headRight a:hover{
    color: #fa4b9b;
}
.headMid{
    width: 1100px;
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}
.searBox{
    float: right;
    margin-top: 48px;
}
.searLeft{
    float: left;
    width: 475px;
    height: 34px;
    position: relative;
    margin-right: 28px;
}
.search{
    width: 387px;
    height: 34px;
    border:2px solid #fa4b9b;
    box-sizing: border-box;
    padding: 5px;
    outline:none;
    text-indent: 3px;
}
#btn01{
    width: 88px;
    height: 34px;
    background: #fa4b9b;
    border:none;
    position: absolute;
    right: 0;
    color: white;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}
.searRight{
    float: right;
    margin-right: 31px;
    position: relative;
    box-sizing: border-box;
}
.cartImg{
    float: left;
    cursor: pointer;
}
.searRight em{
    font-style: normal;
    position: absolute;
    line-height: 34px;
    margin-left: 34px;
    color: #d7d7d7;
    display: none;
}
.cart{
    display: inline-block;
    width: 107px;
    height: 32px;
    border:1px solid #e5e5e5;
    border-left: none;
    line-height: 32px;
    text-align: center;
}
.line{
    width:143px;
    height: 1px;
    background: white;
    position: absolute;
    top:39px;
    right: 0px;
    z-index: 2;
}
.cartCont{
    width:270px;
    font-size: 11px;
    color: #666666;
    position: absolute;
    top:39px;
    right:-1px;
    padding:10px;
    border:1px solid #fa4b9b;
    display: none;
}
.cartCont p{
    width:270px;
    text-align: center;
    height:18px;
    line-height: 18px;
}

/* nav */
.nav{
    clear: both;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #ff3893;
    position: relative;
}
.navCont{
    width: 1100px;
    margin: 0 auto;
}
.totalProList{
    width: 230px;
    height: 52px;
    background: #fc3c96;
    position: absolute;
    top:-3px;
    z-index: 1;
}
.tit{
    text-indent: 22px;
    height: 52px;
    line-height: 52px;
    color: white;
}
.tit .fa-angle-down{
    /* width: 20px; */
    margin-top: 15px;
    /* line-height: 52px; */
    font-size: 25px;
    position: absolute;
    right: 16px;
    transform-origin: 30px 12.5px;
    transition: all 300ms;
}
.totalProList:hover .fa-angle-down{
    transform: rotate(-180deg);
}
.totalProList:hover .totalBox{
    display: block;
}
.navList{
    margin-left: 230px;
}
.navList li{
    float: left;
    padding-left:30px;
    padding-right: 30px;
    position: relative;
}
.navList li a{
   color:white; 
}
.navList .index{
    background: #ec0971;
}
.navList li:hover{
    background: #ec0971;
}

.liClass .fa-angle-down{
    margin-top: 17px;
    margin-left: 6px;
    position: absolute;
    transition: all 300ms;
}
.liClass:hover .fa-angle-down{
    transform: rotate(-180deg);
}
.liClass{
    position: relative;
}

.liClass .ulClass{
    width: 100%;
    position: absolute;
    left: 0px;
    display: none;
    background: white;
    z-index: 1;
}
.liClass:hover .ulClass{
    display: block;
}
.liClass ul li{
    text-align: center;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px dashed #dddddd;
} 
.liClass ul li:last-child{
    border-bottom:none;
}
.liClass ul li:hover{
    background: #ff3893;
    color:white;
}

.totalBox{
    width: 230px;
    height: 592px;
    position: absolute;
    display: none;
}
.bgBox{
    width: 230px;
    height: 592px;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    z-index: 1;
}
.liBox{
    width: 230px;
    position: absolute;
    z-index: 1;
}
.liList{
    width: 206px;
    height: 73px;
    border-bottom: 1px dashed #d1d1d1;
    margin:0 auto;
    z-index: 1;
    position: relative;
}
.liList:last-child{
    border-bottom:0 !important;
}
.liList:nth-child(3) .deBox,.liList:nth-child(5) .deBox,.liList:nth-child(8) .deBox{
    width: 578px;
    height: 352px;
}
.liList:nth-child(6) .deBox,.liList:nth-child(7) .deBox{
    height: 352px;
}


.liLeft{
    width: 170px;
    float: left;
}
.liLeft h3{
    height: 32px;
    text-indent: 10px;
    font-size: 14px;
    line-height: 32px;
}
.liLeft h3 a{
    color:#fb60a7;
}
.liLeft p{
    font-size: 12px;
    line-height: 18px;
    text-indent: 10px;
}
.liLeft p a{
    color:#666666;
}
.liRight{
    float: right;
    margin-top: 20px;
}
.line02{
    width:1px;
    height: 72px;
    background: white;
    position: absolute;
    left:227px;
    display: none;
    z-index: 100;
}



.deBox{
    width: 847px;
    overflow: hidden;
    padding-bottom: 25px;
    background: white;
    position: absolute;
    left: 227px;
    top: 0;
    border:1px solid #e5e5e5;
    padding-top: 8px;
    padding-left: 25px;
    display: none;
    z-index: 9;
}

.desubList{
    width: 250px;
    float: left;
    margin-right:30px;
}
.desubList h3{
    width: 250px;
    font-size: 14px;
    color: #222222;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e5e5e5;
}
.desubList .spec{
    border-bottom: 0;
}
.deCont{
    padding:11px 0px;
    overflow: hidden;
}
.deCont a{
    font-size: 12px;
    color: #666666;
    height: 24px;
    line-height: 24px;
    float: left;
    margin-right: 14px;
}
.deCont a:hover{
    color: #fb60a7;
}
.deCont .aHign{
    color:#fb60a7;
}
.deImg{
    width: 243px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.desubList img{
    width: 80px;
    height: 80px;
    float: left;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
/* .desubList img:nth-child(3n+1){
    border-right:1px solid #e5e5e5;
} */



/* footer */
.footer{
    width: 100%;
    background: white;
    /* text-align: center; */
}
.foTop{
    width: 1100px;
    height: 137px;
    border-bottom: 1px solid #f2f2f0;
    /* background: pink; */
    margin:0 auto;
}
.foTop ul li{
    width: 75px;
    height: 115px;
    padding-top: 22px;
    text-align: center;
    margin-left: 96px;
    float: left;
}
.foimgBox{
    width: 56px;
    height: 56px;
    margin:0 auto;
    background: url("../imgs/indexImg/jlt.png");
    background-position: -3px -1px;
}
.foTop ul li:nth-child(2) .foimgBox{
    background-position: -63px -1px;
}
.foTop ul li:nth-child(3) .foimgBox{
    background-position: -123px -1px;
}
.foTop ul li:nth-child(4) .foimgBox{
    background-position: -183px -1px;
}
.foTop ul li:nth-child(5) .foimgBox{
    background-position: -243px -1px;
}
.foTop ul li:nth-child(6) .foimgBox{
    background-position: -303px -1px;
}
.foTop h3{
    font-size: 13px;
    color:#333333;
}
.foTop h4{
    font-size: 11px;
    color:#999999;
    font-weight: normal;
}
.foMid{
    width: 1100px;
    /* height: 186px; */
    margin:0 auto;
    overflow: hidden;
}
.foLeft{
    /* width: 775px; */
    padding:25px 25px 0;
    overflow: hidden;
    float: left;
}
.foList{
    width: 60px;
    font-size: 12px;
    color: #666666;
    line-height: 27px;
    margin-left: 75px;
    float: left;
}
.foList:last-child{
    width: 163px;
}
.ulTit{
    color:#333333;
    font-weight: 600;
}
.foRight{
    width: 270px;
    height: 169px;
    float: left;
    padding-top: 18px;
}
.fominBox{
    width: 250px;
    height: 168px;
    padding-left: 18px;
    border-left: 1px solid #f2f2f0;
}
.fominBox h5{
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333333;
    margin-bottom: 8px;
}
.fl{
    float: left;
}
.fr{
    width: 76px;
    float: left;
    margin-left: 7px;
}
.fr img{
    float: left;
}
.foEnd{
    width: 100%;
    /* height: 192px; */
    border-top: 1px solid #f2f2f0;
    text-align: center;
    color: #979797;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 5px;
}
.endTop{
    padding-top: 16px;
    padding-bottom: 5px;
}
.endTop a{
    color: #666666;
}
.endBot img{
    height: 33px;
    margin-top: 14px;
}


/* bodyLeftandRight */
.bodyLeft{
    position:fixed;
    left:1px;
    top:305px;
    display: none;
    z-index: 99;
}
.bodyRight{
    position: fixed;
    border-top:1px solid #e6e6e6;
    border-radius: 4px;
    right: 17px;
    top: 305px;
    background: white;
    box-sizing: border-box;
    display: none;
    z-index: 99;
}
.bodyRight li{
    width: 52px;
    height: 41px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    padding-top: 12px;
}
.bodyRight li:hover{
    color: #fa4b9b;
    background: #fafafa;
}
.bodyRight li:nth-child(3){
    position: relative;
}
.bodyRight li:nth-child(4){
    padding-top:0; 
    width: 52px;
    height: 26px;
    border:1px solid #fa4b9b;
    background: #fa4b9b;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.imgSao{
    position: absolute;
    left: -200px;
    top:-140px;
    display: none;
    /* opacity: 0; */
    /* transition: all 1s; */
}
/* .bodyRight li:nth-child(3):hover .imgSao{
    opacity: 1;
    left:-160px;
} */
.trangle{
    width: 0;
    height: 0;
    border:8px solid transparent;
    border-bottom-color:white; 
    margin:auto;
}